html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  
}

header{
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 150%;
}

a {
  text-decoration: none;
  font-weight: 700; 
  color: black;
}

a:hover {
  color: rgb(184, 159, 218);
}

nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

#page_nav a{
  display: inline;
  margin-left: 2rem;
}

section {
  scroll-margin-top: 12.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0.938rem;
}

#introduction {
  display: block;
  text-align: left;
  width: 31.25rem;
  font-size: 1.8rem;
}

#introduction h3{
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
}

#socials {
  display: flex;
}

#techstack {
  display: flex;
}

#techstack p, h3 {
  margin-right: 1.25rem;
}

#intro_section {
  margin-top: 12.5rem;
  display: flex;
  justify-content: center;
  gap: 100px;
}

#about {
  margin-top: 400px;
  display: top;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  text-align: center;
  width: 80rem;
}

#projects_header {
  margin-top: 550px;
  display: top;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  text-align: center;
  width: 55%;
  margin-bottom: 100px;
}


#projects {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  text-align: left;
  width: 65%;
}

#projects img{
  margin-top: 15px;
}

.project{
  display: top;
  margin-bottom: 100px;
}

#projects h3 {
  font-size: 1.4rem;
}

#contact {
  font-size: 1.4rem;
  display: top;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}