#Intro {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.IntroDivLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IntroDivLeft h2,p {
    margin: 0;
}

.IntroDivLeft h1 {
    margin: 8px 0px;
    color: rgb(88, 88, 88);
}

.IntroDivRight {

}

.IntroDivRight img {
    width: 25rem;
    height: 25rem;
    clip-path: circle();
}

.IntroLargeButtons {
    display: flex;
    gap: 20px;
    margin: 16px 0px;
}

.IntroLargeButtons .IntroBtn {
    flex: 1;

    padding: 10px 16px;
    border-radius: 24px;
    border: 1px solid rgb(54, 54, 54);
    background-color: white;

    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: black;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.IntroSocials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.IntroSocials img {
    width: 2rem;
}