.NavbarHeader {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    width: 100%;
    z-index: 1000;
}

.NavbarController {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 7px 10px;
    font-size: 150%;
}

/* .NavbarLeft {

} */

.NavbarRight a{
    display: inline;
    margin-left: 2rem;
}

.NavbarLeft a,
.NavbarRight a {
    background-color: white;
}