#Projects {
    display: flex;
    flex-direction: column;
}

.FeaturedProjectsController {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 20rem;
    background-color: rgb(54, 54, 54);
    color: white;
}

.PCMediaWrapper {
    padding: 5% 5% 0 5%;
}

.ProjectCard img,
.ProjectCard video {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5%;
}

.ProjectCard h2 {
    margin: 0;
}

.ProjectCard p {
    padding: 0 10px 10px 10px;
    text-align: center;
}